{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome to this e-commerce site !</h1>

<p>Explore our unique e-commerce platform where quality, innovation, and style converge. 
    Browse through a carefully curated selection of products, from the latest fashion trends to cutting-edge technological gadgets. 
    Our user-friendly interface and commitment to excellence ensure an exceptional shopping experience. 
    Whether you're in search of stylish clothing, chic home goods, or high-tech accessories, our site caters to all your desires.</p>

<p>More than just an online shopping platform, it's an experience that redefines how you explore and discover the best in shopping. 
    Welcome to your new favorite shopping destination !</p>

{% endblock %}    